doctype html
html
	head
		title= "Real time web chat"
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery-1.10.1.min.js')
		script(src='/chat.js')
		script(src='/js/newgame.js')
		script(src='/js/mobile.js')
		link(rel='stylesheet', href='/css/lib/bootstrap.css')
		link(rel='stylesheet', href='/css/lib/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/roles.css')
		link(rel='stylesheet', href='/css/chat.css')
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body

		div#body
			div.container-fluid
				div.row-fluid
					div.col-md-8.col-xs-6
						div.controls
							| Name:
							div#name(style = 'display: inline')
								|#{player.name}
							br
							input#ready(type='button', value='ready', class='btn btn-default btn-lg')
							input#start(type='button', value='start', class='btn btn-default btn-lg' disabled)
					div.col-md-4.col-xs-6
						div#nav
							b
								div.playerID(id=player.id)
									|#{player.name}
							|THE CURRENT GAME ID IS
							div#game_id #{game_id}
				div.row-fluid
					div.col-md-8.col-xs-12
						table
							tr
								- var good_guys = {Merlin: '../images/merlin.png', Percival: '../images/percival.png', Good_Lancelot: '../images/goodlancelot.png'}
								- for (var guy in good_guys)
									td
										input(type='image', value= guy, src = good_guys[guy], width='133', height='200', class = 'not_selected_role img-responsive', id = guy)
							tr
								- var bad_guys = {Mordred: '../images/mordred.png', Oberon: '../images/oberon.png', Morgana: '../images/morgana.png', Bad_Lancelot: '../images/evillancelot.png'}
								- for (var guy in bad_guys)
									td
										input(type='image', value= guy, src = bad_guys[guy], width='133', height='200', class = 'not_selected_role img-responsive', id = guy)
							tr
								- var items = {Lady_of_the_Lake: '../images/ladyofthelake.png', Excalibur: '../images/excalibur.png'}
								- for (var item in items)
									td
										input(type='image', value= item, src = items[item], width='133', height='200', class = 'not_selected_role img-responsive', id = item)
					div.col-md-4.pull-down.scoreboard.col-xs-12
						table.table.table-bordered.table-hover.table-condensed.scoreboard-table
							caption SCOREBOARD
							thead
							tr
								th Player
								th Status
							tbody.players
								- console.log('players are ')
								- console.log(players)
								- var player_size = players.length
								- for (var i = 0; i < player_size; i++)
									tr(id= 'player_id_' +  players[i]['id'])
										td
											= players[i]['name']
										td(id= players[i]['id']+'_status')
											= players[i]['status']